.device_hover {
  position: absolute;
  width: 135px;
  left: 0px;
  bottom: -25px;
  background: rgb(24, 144, 255);
  color: rgb(255, 255, 255);
  display: none;
  z-index: 1;
}
.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 6px;
}
.deviceflag_div:hover + .device_hover {
  display: block;
}
.asset__management {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  color: #213446;
  margin: 0;

}
.container-lg {
  padding: 0 24px !important;
}

.asset_refresh {
  padding-left: 7px;
  font-size: 14px;
}
/* .asset__acount {
  padding: 20px 0px;
} */
.main_div {
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.th_style {
  padding: 20px 8px;
  text-align: center;
  background: rgba(58, 114, 222, 0.1);
  font-size: 16px;
  font-weight: bolder;
}
.td_style {
  padding: 12px;
  text-align: center;
}
.ant-btn {
  border-radius: 6px;
}

.second_div {
  /* background-color: rgb(255, 255, 255); */
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}
#option__value_Partner {
  width: 110px;
  height: 35px;
  padding: 8px;
  border-radius: 6px;

  outline: none;
  /* margin-left: 10px; */
  /* border: none; */
  background-color: #fff;
}
.toggle_class {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.loader_class {
  z-index: 1;
  text-align: center;
  position: fixed;
  top: 350px;
  right: 740px;
}
.tr_class {
  border-bottom: 0.5px solid #cac4d0;
}
.wrong_details {

  border-radius: 6px;
  border: 1px solid  #F42B3D;
  padding: 8px 20px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;

  color: white !important;
  height: 40px;
  margin: 0px 10px;
  background-color: #ffffff;

}

.show__notShow_delete{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  border-radius: 6px;
  width: 100%;
  box-shadow: -4px 0px 10px rgb(0 0 0 / 0.2);
  background: #ffffff;
  z-index: 9999999;
  padding: 24px;
}

.user__detail__popup__Customer_noti {
  z-index: 1;
  border-radius: 6px;
  height: 60px;
 
  position:fixed;
  top:80px;
  border-radius: 6px;
  background:  #3CB72C;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;

}

.admin_registerd__pop_noti{
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.admin_registerd__pop_noti span{

color:#FFFFFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.userdeletmodal{
  z-index: 1;
  border-radius: 6px;
  height: 60px;
  position:fixed;
  top:80px;
  border-radius: 6px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;
  background: #F42B3D; 
}



.wrong_details span{

  color:  #F42B3D;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;



}

.play__button{
border-right: 1px solid #8F9FBC !important;
border-width: 1.5px !important;
}


.emporia_data_class {
  /* margin-top: -10px; */

  border-radius: 6px;
  border: none;
  color: #fff;
  background-color: #1890ff;
  border-radius: 6px;
  padding: 8px 15px;
  border: none;
  font-weight: bold;
  /* box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75)!important; */
}
/* .emporia_data_class:hover {
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75)!important;
} */
.minus_circle_css {
  cursor: pointer;
  display: inline-block;
  /* margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px; */
  background: none;
 
}



img,
svg {
  /* vertical-align: middle; */
  vertical-align: initial;
}
.match_customer {
  border: none;
  color: #fff;
  background-color: #1890ff;
  border-radius: 6px;
  padding: 8px 15px;
  border: none;
  font-weight: bold;
  /* box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75)!important; */
}
/* .match_customer:hover {
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75)!important;
} */
.clickdata_nom {
  display: none;
}

.delte__table {
  border: none;
  background-color: #fff;
  padding-left: 12px;
}
.for_uploading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  padding: 24px;

}
.asset_wrap{
  padding: 24px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  margin-top: 24px;
  margin-bottom: 24px

}

.matchEmporia{
height: 42px;
padding: 0px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 6px;
border: 1px solid  #3378FF;
display: flex;
align-items: center;
background-color: #ffffff;
}

.reload_out{
  display: inline-block;
}
.matchEmporia span{
color:  #3378FF;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
display: block;
}
.import_report {
  background: none;
  border-radius: 6px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #8f9fbc !important;
  height: 42px;
  
}

.import_report:hover {
  background-color: #e7ecf5;
}
.cloud_downlaod_icon {
  color: #8f9fbc;
}

.ant-modal-footer {
  display: none !important;
}

.fileimport_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

#assetimport{
height: 40px !important;
}

.fileimport_btn button {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  padding: 24px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  line-height: 21px;
  margin-top: 40px;
}
.fileimport_cancel {
  background-color: #8f9fbc;
}
.fileimport_cancel :hover {
  /* background-color: #6D84AD; */
}
.fileimportok_btn {
  background-color: #3378ff;
}

.fileimportok_btn:hover {
  background-color: #2062e3;
}


.downlaodtext {
  display: inline-block;
  color: #8f9fbc;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.matchEmporia:hover{
  background-color: #3378FF;
  color: #ffffff;
}


.matchEmporia:hover {
  background-color:#3378FF;
}

.matchEmporia:active {
  background-color:#3378FF;
}

.matchEmporia:hover span,
.matchEmporia:active span {
  color: white;
}

.matchEmporia:hover .fauser_btn ,
.matchEmporia:active .fauser_btn {
  color: white;
}

.fauser_btn{
color:#3378FF;
}


.import_file {
  border: none;
  color: #fff;
  background-color: #1890ff;
  padding: 10px 15px;
  border-radius: 6px;
}
.main_divof_import {
  padding: 20px;
}
.last_fetched {
  display: flex;
  flex-direction: column;
}
.filter_bar_div {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #79747e;
  margin-left: 30px;
  cursor: pointer;
}
.handle_filter_bar {
  display: flex;
  align-items: center;
}
.mainDiv_assigned_unassigned {
  border: solid #ccc 1px;
  /* border-radius: 35px 35px 35px 35px; */
  border-radius: 6px;
}
.btn_of_assigned_All {
  border: none;
  padding: 10px 28px;
  background-color: #fff;
  border-radius: 6px;
}
.btn_of_assigned {
  border: none;
  padding: 10px 8px;
  background-color: #fff;
}
.unAssi_gned {
  border: none;
  background-color: #fff;
  padding: 10px 8px;
}
.filterBar_position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  gap: 20px;

  position: absolute;
  width: 280px;
  height: auto;
  left: 630px;
  top: 200px;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.properties {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding-left: 0px;
  color: #565454;
}
.shown_in_table {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 3px;
  width: 100%;
}
.hide_all {
  border: 1px solid #3a72de;
  border-radius: 6px;
  background-color: #fff;
  padding: 7px 15px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 12px;
  color: #3a72de;
}
.table_shown {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
  letter-spacing: 0.05em;

  color: #565454;
}
.handle_dots_addres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  width: 100%;
}

.address_dots {
  display: flex;
  align-items: center;
  gap: 10px;
}
.address_text {
  font-weight: 500;
  font-size: 13px;
  color: #565454;
  margin-bottom: 0px;
}
.eye_outlined {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

/* for button */
.main2 {
  background: white;
  border: 1px solid #eee;
  border-radius: 6px;
  z-index: 1;
  display: flex;
  width: auto;
}
.btn {
  border: none !important;
}
.btn1 {
  border-radius: 6px 0px 0px 6px;
  padding: 8px 20px;
  /* width: 70px; */
  border: none;
  font-weight: 500;
  font-size: 14px;
  /* border-radius: 9px; */
}
.btn3 {
  border-radius: 0px 6px 6px 0px;
  /* width: 116px; */
  padding: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
}
.btn_mid {
  border-left: solid #ccc 1px;
  border-right: solid #ccc 1px;
  border-top: none;
  /* width: 105px; */
  border-bottom: none;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  /* border-radius: 9px; */
  /* border: none; */
}
.import_report {
  color: #fff;
  gap: 10px;
  border: none;
  border-radius:6px;
  display: flex;
  align-items: center;
  padding: 8px 20px !important;
}
.reportname{
  color:  #213446;
  display: inline-block;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  
}


.play__button {
  border: none;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  /* margin: 0px 20px; */
  color: green;
  padding: 0px 10px;
}

.pause__button {
  border: none;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  color: red;
  padding: 0px 10px;
}
.mainDiv_on_off {
  display: flex;
  padding: 3px 10px;
  border: 1px solid #ccc;
  margin: 0px 15px;
  border-radius: 6px;
}

.left_arrow {
  width: 25px;
  padding-right: 5px;
  padding-left: 7px;
  margin-top: -5px;
}
 /* .table td{
  text-align: left !important;
} */

/* Modal Popup start */

.show__notShow {
  position: fixed;

  right: 0;
  top: 5px;
  height: 100vh;
  width: 400px;

  box-shadow: -4px 0px 10px rgb(0 0 0 / 0.2);

  background: #ebebeb;

  z-index: 10000;
  overflow-y: auto;
}
#confirm__delete_location p{
  color: #213446;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

#handle_Admin_Delete_cancel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.cancel__confirm {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.delete_new__admin {
  background: #f84e4e;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1000;
  padding: 5px 25px;
  height: 48px;
  width: 46%;
}

.delete_new__admin:hover {
  background-color: #ea3030;
}

.cancel__confirm:hover {
  background-color: #6d84ad;
}

#delete__Location {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 6px;
  padding-bottom: 10px;
}

#create_Location__edit {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 18px;
  font-weight: bold;
}
#create_assets__edit {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 18px;
  font-weight: bold;
  overflow-y: auto;
}
#form__asset__update {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 45px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
  overflow-y: auto;
}

#form__admin__update {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 195px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
}
.delete_new__admin {
  background: #f84e4e;
  border-radius:6px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1000;
  padding: 5px 25px;
}

.cancel__create__location {
  width: 100px;
  padding: 5px;
  background: #ebebeb;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  margin-left: 15px;
}
.cancel__create__location:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: #111;
}

.nameEmail__Location {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
.locate__input {
  margin-left: 10px;
  margin-top: -12px;
  padding: 7px 10px;
  border-radius: 6px;
  width: 255px;
  background-color: #e8e9ee;
  outline: none;
  border: none;
}

.locate_side {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.create_new__location {
  width: 100px;
  height: 30px;
  background: #1890ff;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  padding: 5px;
}
.update__Location {
  border: none;
  background: #fff;

  padding-left: 16px;
}
.right_arrow {
  margin-top: -3px;
  padding-right: 5px;
  width: 30;
  margin-bottom: -3px;
}

/* Modal Popup end */

/* delete update popup :start */

.user__detail__popup__Price {
  z-index: 1;
  background: #1890ff;
  border-radius: 6px;
  display: flex;
  align-content: flex-end;
  padding: 0px 12px;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}
::-webkit-file-upload-button {
  color: white;
  background: #3378ff;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
input::file-selector-button {
  color: white;
  background:#3378ff;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.csv_input {
  font-size: 16px;
  background: white;
  /* margin: auto; */
}

.admin_registerd__pop {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  /* padding-top: 10px; */
  display: block;
  
}

@media (max-width: 1540px){
.ant-modal {
    width: 600px !important;
}

}
@media only screen and (max-width: 1100px) {
  .for_uploading {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .asset__management {
    font-size: 24px;
  }
}
.p_wrong_csv {
  margin-bottom: 0px;
}
