.mainDiv_Partner {
  background-color: blue;
}



/* paination css start  */
/* .ant-pagination-item {
border-radius: 6px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
border-radius: 6px;
}
.ant-pagination-options-quick-jumper input {
border-radius: 6px;
} */
/* paination css end  */
.all_partner {
  /* font-weight: 600; */

  margin-top: -12px;
  margin-right: 10px;

  border-bottom: 1px solid blue;
  color: blue;
  cursor: pointer;
}
.main_div_filters_partners {
  background-color: #fff;
}

.filter_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.export_report {
  background-color: #1890ff;
  color: #fff;
border-radius: 6px;
  padding: 8px 15px;
  border: none;
  font-weight: bold;
}

.right_arrow {
  width: 25px;
  padding-right: 5px;
  padding-left: 5px;
}

.th_Name {
  font-size: 16px;
  font-weight: bolder;
}
.partner_name {
  font-size: 16px;
  font-weight: 600;
}
.theadPadding_remove > :not(caption) > * > * {
  padding: 0 !important;
  border-bottom: none;
}
.mainDiv_popup {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.thead_setting {
  height: 20px;
}
.td_part {
  width: 100%;
  overflow-y: auto;
}

.user__detail__popup__Customer_noti {
  z-index: 1;
  border-radius: 6px;
  height: 60px;
 
  position:fixed;
  top:80px;
  border-radius: 6px;
  background:  #3CB72C;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;

}

.admin_registerd__pop_noti{
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.admin_registerd__pop_noti span{

color:#FFFFFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.userdeletmodal{
  z-index: 1;
  border-radius: 6px;
  height: 60px;
  position:fixed;
  top:80px;
  border-radius: 6px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;
  background: #F42B3D; 
}

/* Modal Popup start */

.show__notShow_partner {
  position: fixed;
  border-radius: 6px;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 400px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
  z-index: 10000;
  overflow-x: auto;
  height: 500px;
  padding: 24px;
}

.show__notShow_partner_delete{
  position: fixed;
  right: 0;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 400px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
  z-index: 10000;
  overflow-x: auto;
  padding: 24px;
}


#confirm__delete_location {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 210px;
  left: 120px;
  letter-spacing: 1px;
}
#delete__Location {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 70px;
  border-radius: 6px;
  padding-bottom: 10px;
}

#create_Location__edit {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 18px;
  font-weight: bold;
}


#create_partner__edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#create_partner__edit p{
margin: 0;
padding: 0;
font-size: 20px;
font-weight: 600;
}

.sortcross{
  color: #213446;
  font-size: 30px;
  cursor: pointer;
}

#form__partner__update {
 
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 6px;
}


.ant-popover-buttons {
  display: none;
}
#form__admin__update {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 195px;
  margin-left: 65px;
border-radius: 6px;
  padding-bottom: 10px;
}
.delete_new__admin {
  background: #f84e4e;
  border-radius: 50px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  z-index: 1000;
  padding: 5px 25px;
}

.label__Partner {

  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}


.input__partner {

  outline: none;
  border: none;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  height: 48px !important;
   margin-bottom: 24px;
   padding-left: 15px;
}

input[type='file']{
  height: 48px !important;
}


.locate_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}


.locate_side button{
  display: block;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  width: 46%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.create_new__partner {
  width: 100px;
  height: 30px;
  background-color: rgb(51, 120, 255);
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: bold;
  z-index: 1000;
  padding: 5px;
}

.delete_modal_buttons{
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.delete_modal_buttons button{
   height: 48px;
   width: 46%;
}
.create_new__partner:hover{
  background-color: #2062e3;

}

.update__Location {
  border: none;
  background: #fff;

  padding-left: 16px;
}
.right_arrow {
  margin-top: -3px;
  padding-right: 5px;
  width: 30;
}
#confirm__delete_partner {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

#confirm__delete_partner p{
color: black;
font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;

}

#delete__partner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
   border-radius: 6px;
  padding-bottom: 10px;
}
#delete__partner  p{
  padding: 0;
  margin: 0;
}


.delete_new__partner {
  background: #f84e4e;
border-radius: 6px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1000;
  padding: 5px 25px;
}

.cancel__create__partner {
  width: 100px;
  padding: 5px;
  background-color: rgb(143, 159, 188);
  color: #ffffff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  z-index: 1000;
}
 .cancel__create__partner:hover{
  background-color: #6d84ad;
 }

/* .cancel__create__partner:hover {
  background-color: #2062e3; 
  color: white;
} */

/* Modal Popup end */

/* Exports Reports start */
.mainForm_user_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#create_partner__export {
  font-size: 18px;
  font-weight: bold;
  overflow-y: auto;
}

#form__partner__reports {
  width: 350px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px !important;
  margin: auto;
  overflow-y: auto;
}

.main_div_export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}

.second_div_export {
  display: flex;
  align-items: center;
  align-self: center;
}
/* .user_image {
  padding-left: 10px;
} */
.export_user_details {
  color: #1c1b1f;
  font-weight: 400;
  font-size: 16px;
  padding-top: 13px;
  padding-left: 10px;
}

/* Exports Reports end */

/* Bottom popup start */

.user__detail__popup__partner {
  z-index: 1;
  background: #1890ff;
  border-radius: 8px;
  display: flex;
  align-content: flex-end;
  padding: 0px 12px;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}

.partner_registerd__pop {
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  display: block;
  margin-top: 10px;
}
.parent_wrap{
  margin: 24px 0;
}

.container-lg {
  padding: 0 24px !important;
}

.partner__acount {
  font-size: 24px;
  line-height: 31px;
  font-weight: 600;
  color: #213446;
  margin: 0;
  padding: 0 ;
}

#add_partner{
  background-color: #3378ff !important;
  color: #ffffff;
  height: 48px;
  max-width: 190px;
  width: 100%;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 24px 0px 24px !important;
}
.table_wrap{
  margin: 24px 0;
  padding: 24px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  overflow-x: auto;
  white-space:unset;
}

.ant-pagination-next , .ant-pagination-prev{
  padding: 10px 22px !important;
}
@media  (max-width: 1540px) {
  .show__notShow_partner{
    position: fixed;
    border-radius: 6px;
    right: 0;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    overflow-x: auto;
    transform: translate(-50% , -50%);
  }



  .show__notShow_partner_delete{
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50% , -50%);
    width: 400px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
    z-index: 10000;
    padding: 24px;
  }

  }

@media only screen and (max-width: 473px) {
  #option__value_partner {
    width: 100px;
  }
}
@media only screen and (max-width: 473px) {
  .filter_partner {
    display: flex;
    flex-wrap: wrap;
  }
  #option__value_partner {
    width: 150px;
  }
  .export_report {
    margin-top: 10px;
  }
}
/* Bottom popup send */

/* html part */

/* <div
          className="show__notShow_partner"
          style={{
            display: isPartnerExport ? 'block' : 'none',
           }}
        >
          <div className="mainForm_user_detail">
            <div id="create_partner__export">
              <p>Export Reports</p>
            </div>
            <div id="form__partner__reports">
              <div className="main_div_export">
                <div className="second_div_export">
                  <img className="user_image" src={user_name} alt="user-name" />
                  <p className="export_user_details">Users Name</p>
                </div>
                <div>
                  <Checkbox defaultChecked />
                </div>
              </div>
            </div>
            <div id="form__partner__reports">
              <div className="main_div_export">
                <div className="second_div_export">
                  <img className="user_image" src={device_id} alt="user-name" />
                  <p className="export_user_details">Device ID</p>
                </div>
                <div>
                  <Checkbox defaultChecked />
                </div>
              </div>
            </div>
            <div id="form__partner__reports">
              <div className="main_div_export">
                <div className="second_div_export">
                  <img className="user_image" src={usuage_data} alt="user-name" />
                  <p className="export_user_details">Usuage Data</p>
                </div>
                <div>
                  <Checkbox defaultChecked />
                </div>
              </div>
            </div>
            <div id="form__partner__reports">
              <div className="main_div_export">
                <div className="second_div_export">
                  <img className="user_image" src={package_details} alt="user-name" />
                  <p className="export_user_details">Package Details </p>
                </div>
                <div>
                  <Checkbox defaultChecked />
                </div>
              </div>
            </div>
            <div id="form__partner__reports">
              <div className="main_div_export">
                <div className="second_div_export">
                  <img className="user_image" src={customer_id} alt="user-name" />
                  <p className="export_user_details">Customers Unique ID</p>
                </div>
                <div>
                  <Checkbox defaultChecked />
                </div>
              </div>
            </div>
            <div className="locate_side" style={{ paddingLeft: '10px' }}>
              <button
                type="submit"
                className="create_new__partner"
                //onClick={() => updatePartner(id)}
              >
                Update
              </button>
              <button
                //onClick={cancelupdatePartners}
                className="cancel__create__partner"
                id="not_ShowCancel"
              >
                Cancel
              </button>
            </div>
          </div>
        </div> */
