.actionbtn{
    border: none;
    background: white;
    }
    tr:hover .actionbtn{
        background: #ececee !important;
    }
    .trSelect .ant-select-selector{
        border: none !important;
    }
    /* .trSelect:hover .ant-select-selector{
        background: #ececee !important;
    } */
    .trSelect .ant-picker{
        border: unset;
    }
    /* .trSelect:hover .ant-picker{
        background: #ececee !important;
    } */
    /* paination css start  */
/* .ant-pagination-item {
    border-radius: 6px;
  }
  .ant-select-selector{
    border-radius: 6px;
  }
  .ant-pagination-options-quick-jumper input{
    border-radius: 6px;
  } */
  /* paination css end  */
    tr:hover .inputRender{
        background: #ececee !important;
    }
    .text {
    
       margin: 24px 0;
       font-size: 16px;
       font-weight: 600;
       
    }

    th{
        text-align: center;
    }
    tr{
        text-align: center;
    }
p{
    margin: 0;
    padding: 0;
}
    .deletenotification{
         display: flex;
         gap: 16px;
         align-items: center;
         margin: 24px 0;
    }

    .all_customer_of_page{

        font-size: 24px;
        line-height: 31px;
        font-weight: 600;
        color: #213446;
        margin: 0;

    }


    .all_customer_of_page  span{
      display: inline-block;
    }

  .tnotification{
    color: #3378ff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

  }
  .pagination_wrap{

    margin: 48px 0;
  }

  .table_wrapper{

    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    padding: 24px;
    margin-top: 10px;
    overflow-x: auto;

}

  .container-lg {
    padding: 0 24px !important;
  }


    .total_notification{
        color: #324253;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4px;
        display: flex;
        gap: 8px;

    }

.back_to_app_notification{
    padding: 24px
    ;
    position: relative;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);

}



    .total_notification span{
        display: inline-block;
    }

   
