.update__Location {
  border: none;
  background: none;
}
td {
  width: unset;
  /* white-space: normal;
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.plusicon {
  font-size: 20px;
}

.installation_base_warp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.container-lg {
  padding: 0 24px !important;
}
.customer_add_button {
  background-color: #3378ff !important;
  color: #ffffff;
  height: 48px;
  max-width: 227px;
  width: 100%;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}

.table_wrap {
  margin-top: 24px;
  padding: 24px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}
.customer_add_button:hover {
  background-color: #2062e3 !important;
}
/* .import_report {
  background: none;
  border-radius: 6px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #8f9fbc;
  margin-bottom: 7px;
} */
.import_report {
  color: #fff;
  border-radius: 6px;
  padding: 8px 20px;
  font-weight: bold;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #8f9fbc;
}
.import_report:hover {
  background-color: #e7ecf5;
}

.cloud_downlaod_icon {
  color: #8f9fbc;
}

 /* .pagination_wrap {
  margin-top: 48px;
  margin-bottom: 48px;
}  */

.downlaodtext {
  display: inline-block;
  color: #8f9fbc;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ant-btn {
  border-radius: 6px;
}

.ant-modal-title {
  font-size: 17px;
  font-weight: bolder;
}

.location__information {
  padding: 30px 0px;
}

.t_Name {
  font-size: 16px;
  font-weight: bolder;
}

.ant-modal-content {
  border-radius: 6px;
  overflow: hidden;
}
#create_Location {
  display: flex;
  justify-content: space-between;
}
.add_new_select {
  width: 100%;
}

.addnew {
  color: #213446;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* paination css start  */
/* .ant-pagination-item {
border-radius: 6px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
border-radius: 6px;
}
.ant-pagination-options-quick-jumper input {
border-radius: 6px;
} */
/* paination css end  */

.location__acount {
  font-weight: 600;
  font-size: 24px;
  color: #213446;
  margin: 0;
  padding: 0;
  line-height: 31px;
}

.total_wrap {
  display: flex;
  gap: 24px;
  align-items: center;
}

.total__location {
  color: #324253;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
margin-top: 6px;
}

.total_installation_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.total_installation_wrap span {
  display: inline-block;
}

.arrow_customers {
  color: #3378ff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.delete__Location__of {
  border: none;
  background: none;
  padding-left: 16px;
}

.left_arrow {
  width: 25px;
  padding-right: 5px;
  padding-left: 7px;
  margin-top: -3px;
}

.theadPadding_remove > :not(caption) > * > * {
  padding: 0 !important;
}

.by_partner_text {
  padding-right: 10px;
  padding-top: 8px;
}

.filter_partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#option__value_Location {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  width: 470px;
  height: 42px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  outline: none;
  color: #6c757d;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#basefilter {
  height: 42px;
  padding: 15px 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  display: flex;
  gap: 16px;
  align-items: center;
}

#basefilter span {
  display: block;
  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.forFilter_btn {
  background-color: #1890ff;
  color: #fff;
  border-radius: 6px;
  padding: 8px 25px;
  border: none;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.left_arrow_one {
  display: block;
  float: right;
  padding-left: 10px;
  width: 25px;
  padding-top: 2px;
  color: #fff;
}

#select_option {
  margin-left: 10px;
  margin-top: -12px;
  padding: 7px 10px;
  border-radius: 6px;
  width: 255px;
  background-color: #e8e9ee !important;
  outline: none;
  border: none;
}

#option__value {
  width: 250px;
  padding: 8px;
  border-radius: 6px;
  margin: 5px 0;
  outline: none;
  margin-left: 10px;
  border: none;
  background-color: #e8e9ee;
}

.show__notShow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  border-radius: 6px;
  width: 100%;
  box-shadow: -4px 0px 10px rgb(0 0 0 / 0.2);
  background: #ffffff;
  z-index: 9999999;
  padding: 24px;
}
.deletemodal{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  border-radius: 6px;
  width: 100%;
  box-shadow: -4px 0px 10px rgb(0 0 0 / 0.2);
  background: #ffffff;
  z-index: 9999999;
  padding: 24px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form__admin__locate {
  /* width: 280px; */
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 140px;
  margin-left: 65px; */
  border-radius: 6px;
  /* padding-bottom: 10px; */
}
.form__admin__locate .ant-select-selector {
  width: 500px !important;
  border-radius: 6px !important;
}
.statemargin {
  margin-top: 24px;
}
.ant-select-selection-search input {
  height: 48px;
}

.locate__input {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  width: 100%;
  color: #6c757d;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
  box-shadow: none;
  outline: none;
  margin-bottom: 24px;
}
.form__admin__locate label {
  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

#form__admin__update {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 195px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
}

.nameEmail__Location {
  font-size: 16px;
  font-weight: 500;
}
p {
  padding: 0;
  margin: 0;
}
.partner_margin {
  margin-bottom: 0px;
}

.admin__input:focus {
  outline: none;
}

.locate_side {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  width: 100%;
}

.cancel__create {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.hover {
  background-color: #6d84ad;
}

.create_new__admin {
  height: 48px;
  background: #3378ff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  padding: 2px 9px;
  width: 46%;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.create_new__admin:hover {
  background-color: #2062e3;
}

.create_new__location {
  width: 100px;
  height: 30px;
  background: #1890ff;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: bold;
  z-index: 1;
  padding: 5px;
}

.cancel__create__location {
  width: 100px;
  padding: 5px;
  background: #ebebeb;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  z-index: 1;
}

.cancel__create__location:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: #111;
}

#delete__Location {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-radius: 6px;
  padding-bottom: 10px;

}

#confirm__delete_location{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

#confirm__delete_location p{

    font-size: 22px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 1px;

}
.delete_warp{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
}

.fileimport_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.fileimport_btn button {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  padding: 24px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  line-height: 21px;
  margin-top: 40px;
}


.fileimport_cancel {
  background-color: #8f9fbc;
}


/* .delete_new__admin {
  background: #f84e4e;
  border-radius: 50px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  z-index: 1;
  padding: 5px 25px;
} */

.delete_new__admin {
  background: #f84e4e;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1000;
  padding: 5px 25px;
  height: 48px;
  width: 46%;
}

.delete_new__admin:hover {
  background-color: #ea3030;
}

.cancel__confirm {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.cancel__confirm:hover {
  background-color: #6d84ad;
}



.delete__create {
  z-index: 1;
  border: none;
  margin-left: 5px;
  width: 50px;
}

.delete__create:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.user__detail__popup__location {
  z-index: 1;
  background: #1890ff;
  border-radius: 6px;
  display: flex;
  align-content: flex-end;
  padding: 0px 12px;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}

.admin_registerd__pop {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

.admin__black {
  display: block;
  float: right;
  padding-left: 10px;
  width: 25px;
  padding-top: 2px;
  color: #fff;
}

.partner_name {
  font-size: 16px;
  font-weight: 600;
}

.add_new_location {
  background: #1890ff;
  color: #fff;
  border-radius: 6px;
  padding: 8px 15px;
  border: none;
  font-weight: bold;
}

::-webkit-file-upload-button {
  color: white;
  background: #b1d34f;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

input::file-selector-button {
  color: white;
  background: #b1d34f;
  border: none;
  border-radius: 6px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.csv_input {
  font-size: 16px;
  background: white;
  /* margin: auto; */
}

.second_mainDiv_location {
  padding: 24px;

  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}

#dropdown_part {
  width: 100px;
  padding: 8px;
  border-radius: 6px;
  margin: 5px 0;
  outline: none;
  margin-left: 10px;
  /* border: none; */
  background-color: #fff;
}

.ant-modal-title{

padding-right: 10px;
}

@media (max-width: 1540px){
  .editinstallation {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    height: 500px;
    overflow-x: auto;
  
  }
}

@media only screen and (max-width: 930px) {
  .show__notShow {
    width: 300px;
    overflow-y: auto;
  }

  .form__admin__locate {
    width: 250px;
    margin-left: 25px;
  }

  #form__admin__update {
    width: 250px;
    margin-left: 25px;
  }

  #delete__Location {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 20px;
    border-radius: 6px;
    padding-bottom: 10px;
  }

  #confirm__delete_location {
    font-size: 22px;
    font-weight: 700;

    letter-spacing: 1px;
  }

  #create_Location__edit {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .second_mainDiv_location {
    gap: 15px;
    display: flex;
  }

  .import_csv_class {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .input_type_file {
    width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  .location__acount {
    font-size: 22px;
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 375px) {
  .location__acount {
    font-size: 18px;
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 320px) {
  .location__acount {
    font-size: 15px;
  }
}
