body {
  font-family: 'DM Sans', sans-serif !important;
}

td {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #213446;
}

thead th {
  height: 56px;
  background-color: #F9FBFE !important;
  font-size: 16px  !important;
  font-weight: bolder !important;
}
/* .px-2{

  margin: 0 !important;
  padding: 0 !important;
} */

table {
  border-spacing: 100px;
}

.ant-picker-conten table 

#searchBox::placeholder{
  color:  #6C757D;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

thead tr {
  vertical-align: middle;
}

.table{
margin-bottom: 48px;

}

.header {
  border-bottom: none;
}
.body {
  background-color: #f9fbfe;
}



/* pagination css start */

.ant-pagination-prev {
  height: 48px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid #8f9fbc;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-next {
  border-radius: 0px 6px 6px 0px;
  height: 48px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 0px;
  border: 1px solid #8f9fbc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: none !important;
  margin: 0;
  max-width: 48px;
  width: 100%;
}

.ant-pagination-item-active {
  background-color: #3378ff;
  color: #ffffff;
}

.ant-pagination {
  /* flex-direction: row-reverse; */
  display: flex;
  justify-content: start;
}

.ant-pagination-options {
  height: 46px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ant-select-selector {
  height: 46px;
  border-radius: none;
}

.ant-pagination-options-quick-jumper input {
  height: 46px;
  border-radius: none;
  box-shadow: none;
  outline: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 46px;
  border-radius: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* pagination css */

/*  app header login image css */
.login_section_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.loginimage_wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid whitesmoke;
}

.logoutdropdownn {
  position: relative;
  display: inline-block;
}
.logoutdropdown-content {
  display: block;
  position: absolute;
  top: 43px;
  right: -4px;
  width: 160px;
  height: 53px;
  border-radius: 6px;
  border: 1px solid var(--border-border-secondary, #f1f1f1);
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  cursor: pointer;
}
.logoutdropdown-content h6 {
  margin: 0;
  padding: 0;
  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.loginimage_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.loginImage_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

/*  app header login image css */

/*
app header sticky css */

.header.header-sticky {
  box-shadow: 0px 4px 16px 0px #0000000a;
  padding: 0;
  margin: 0;
  z-index: 9;
  height: 64px;
}

.mb-4 {
  padding: 0 !important;
  margin: 0 !important;
}

/* app hedaer sticky css */

#button {
  font-weight: bolder !important;
  padding: 20px 20px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;
  background-color: #1890ff !important;
  border: none !important;
  color: white !important;
  height: 40px;
}

/* input[type="file"] {
  position: relative;

}

input[type="file"]::file-selector-button {
  width: 120px;
  color: #fff;
 font-weight: bold;

}


/* start */
input[type='file'] {
  position: relative;
}

input[type='file']::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
/* input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 70px;
  height: 20px;
  width: 20px;
  overflow: hidden;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
} */
input[type='file']::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type='file']::after {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 43px;
  color: #fff;
  font-weight: bold;
  content: 'Choose File';
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type='file']::file-selector-button {
  border-radius: 6px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  /* background-color: white; */
  /* border: 1px solid rgba(0, 0, 0, 0.16); */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
/* input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
} */

/* file upload button active state */
/* input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
} */

/* ------------------------ */

/* default boilerplate to center input */
/* body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vmax;
  box-sizing: border-box;
} */
/* end */

.select_text {
  font-weight: bold;
  margin-right: 10px;
}

.loading_part {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.global__popup__div {
  z-index: 1;
  background: #1890ff;
  border-radius: 6px;
  display: flex;
  align-content: flex-end;
  padding: 0px 12px;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}

.global_popup__text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;

  display: block;
  margin-top: 10px;
}

/* himanshu code */

#clearbutton {
  font-weight: bolder !important;
  padding: 20px 20px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;
  color: black !important;
  border: none !important;
  color: white !important;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
}
#clearbutton:hover {
  background-color: #e5e5e5;
}
#clearbutton span {
  color: black !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  display: inline-block !important;
  line-height: 20px !important;
}
.button {
  font-weight: bolder !important;
  padding: 20px 20px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;
  background-color: #1890ff !important;
  border: none !important;
  color: white !important;
  height: 40px;
}

#universalButton {
  font-weight: bolder !important;
  padding: 5px 15px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 6px !important;
  background-color: #1890ff !important;
  border: none !important;
  color: white !important;
  height: 40px;
}

#select_option__value {
  padding: 7px;
  width: 250px;
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  border-radius: 6px;
}

#select_option__value:focus {
  background-image: url('https://w7.pngwing.com/pngs/711/104/png-transparent-computer-icons-arrow-down-arrow-up-right-left-up-up-arrow-angle-triangle-black-thumbnail.png');
  background-size: 1rem auto;
  background-position: right 0.6rem top 50%;
}

#searchBox {
  height: 42px !important;
  border-radius: 6px !important;
  border: solid #ccc 1px !important;
  width: 470px !important;
  padding-left: 14px !important;
  font-size: 16px !important;
  line-height: 20px;
  font-weight: 400;
  outline: none;
  border: 1px solid var(--border-border-secondary, #f1f1f1) !important;
  box-shadow: none;
}



.editn_btn_global {
  width: 15px;
  background: none;
}

.delete_btn_global {
  color: red;
  font-size: 16px;
}

@media  (max-width: 1540px) {

.trindicator {
  height: 45px;
}

td {

  height: 60px !important;
  font-size: 14px;
  font-size: 13px;
 
}
.ant-picker-content td{
  height: unset !important;
}
.ant-picker-input{
padding-left: 10px;

}


input[type=password]{

  padding: 5px 15px !important;
  width: 100% !important;
  border-radius: 6px !important;
  border: 1px solid #f1f1f1 !important;
  background: #fff !important;

}


thead th {
  font-size: 15px  !important;
}

}
@media only screen and (max-width: 1240px) {
  /* pagination css  start*/
  .ant-pagination-item {
    height: 32px;
  }

  .ant-pagination-prev {
    height: 32px;
    padding: 10px 25px;
  }
  .ant-pagination-next {
    padding: 10px 25px;
    height: 32px;
  }
  .ant-pagination-options {
    height: 32px;
  }

  .ant-pagination-options {
    height: 32px;
  }

  .ant-select-selector {
    height: 32px;
  }

  .ant-pagination-options-quick-jumper input {
    height: 32px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 32px;
  }

  @media only screen and (max-width: 1140px) {
    .ant-pagination-options {
      width: unset;
    }
    /* #searchBox {
          max-width: 300px;
          width: 100%;
        } */
  }
  /* pagination css end */
}
