/* .admin__page {
  padding: 0;
  margin: 0;
} */
/* .hover_btn:hover{
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75)!important;
} */
.admin__information {
  /* background-color: rgba(58, 114, 222, 0.1); */
  padding: 30px 0px;
}

form input {
  height: 48px !important;
}

form select {
  height: 48px !important;
}

.admin__black {
  display: block;
  float: right;
  padding-left: 10px;
  width: 25px;
  padding-top: 2px;
  color: #fff;
}

#form__admin_admin {
  margin-top: 24px;
}
/* #form__admin_ADMIN {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
} */
/* #form__admin_Edit {
  width: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
} */
.show__notShow {
  position: absolute;
  top: 10%;
  left: 33%;
  width: 400px;
  padding: 24px;
  background: #ebebeb;
  z-index: 10000;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
}

.admin__input:focus {
  outline: none;
}

/* .nameEmail__admin {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
} */
.create_new__admin {
  height: 48px;
  background: #3378ff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  padding: 2px 9px;
  width: 46%;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  cursor :pointer;
}

.create_new__admin:hover {
  background-color: #2062e3;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cancel__create {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.cancel__create:hover {
  background-color: #6d84ad;
}

#delete__create:hover {
  background-color: #8f9fbc;
}

.update_new__admin {
  height: 30px;
  background: #1890ff;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  padding: 5px 20px;
}

.update_new__admin:hover {
  box-shadow: rgba(48, 67, 150, 0.4) 0px 7px 29px 0px;
}

/* #delete__admin {
  width: 280px;
  background: #e8e9ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 260px;
  margin-left: 65px;
  border-radius: 6px;
  padding-bottom: 10px;
} */
/* #confirm__delete_Admin {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 210px;
  left: 130px;
  letter-spacing: 1px;
} */
.delete_new__admin {
  background: #f84e4e;
  border-radius: 6px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 1000;
  padding: 5px 25px;
  height: 48px;
  width: 46%;
}
.delete_new__admin:hover {
  background-color: #ea3030;
}

.cancel__confirm {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.cancel__confirm:hover {
  background-color: #6d84ad;
}

#delete__create {
  padding: 5px 15px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 20px;
  z-index: 1000;
  margin-left: 15px;
  border: none;
}

.update__table_admin {
  border: none;
  background: none;
  padding-left: 17px;
}

.delte__table {
  border: none;
  background: none;
  padding-left: 12px;
}

.delete__update {
  border: none;
  background-color: #fff;

  width: 20px;
  padding-left: 20px;
}

.user__detail__popup__Admin {
  z-index: 1;
  background: #1890ff;
  border-radius: 6px;
  display: flex;
  align-content: flex-end;
  padding: 0px 12px;
  position: fixed;
  bottom: 10px;
  margin-left: 10px;
}

.admin_registerd__pop {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: block;
  /* margin-top: 10px; */
}

.s_Name {
  font-size: 16px;
  font-weight: bolder;
}

.password__span {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}


.user__detail__popup__Customer_noti {
  z-index: 1;
  border-radius: 6px;
  height: 60px;
 
  position:fixed;
  top:80px;
  border-radius: 6px;
  background:  #3CB72C;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;

}

.admin_registerd__pop_noti{
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.admin_registerd__pop_noti span{

color:#FFFFFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.userdeletmodal{
  z-index: 1;
  border-radius: 6px;
  height: 60px;
  position:fixed;
  top:80px;
  border-radius: 6px;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
  width: 440px;
  padding: 9px 12px;
  background: #F42B3D; 
}

#handle_Admin_Delete_cancel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
}

/* .toatl_adminss {
  margin-top: -15px;
  margin-right: 10px;
} */
/* css by abhishek singh */
.admin_account_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.admin__acount {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #213446;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}
.admin__acount span {
  display: block;
}

.admin_Parent_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}

.toatl_adminss {
  color: #324253;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3378ff;
  font-family: DM Sans;
  text-decoration-line: underline;
}

.toatl_adminss span {
  display: block;
}

.registration_length {
  font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
  margin-top: 3px;
}

td {
  width: unset !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.registration_admin_btn {
  display: inline-flex;
  height: 48px;
  padding: 0px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #3378ff;
  border: none;
  outline: none;
  box-shadow: none;
}

.registration_admin_btn span {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.table_wrapper {
  background-color: #ffff;
  border-radius: 6px;
  padding: 24px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
}

.container-lg {
  padding: 0 24px !important;
}

/* .pagination_wrap {
  margin: 24px 0;
} */

.create_admin {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.admin__input {
  padding: 5px 15px;
  margin: 3px 0px 10px 0px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  margin-top: 0;
  margin-bottom: 24px;
}

#form__admin_Edit label {
  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#form__admin_Edit input {
  margin-top: 12px;
  margin-bottom: 24px;
}
#confirm__delete_Admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
#confirm__delete_Admin p {
  color: #213446;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.crossicon {
  color: #6c757d;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* css end by abhishek singh */
@media  (max-width: 1540px) {
 
  .modalscroll{
    position: fixed;
    top:50%  ;
    left:50% ;
    transform: translate(-50%, -50%);
    height: 500px;
    overflow-x: auto ;

  }

  .ant-modal{
    width: 600px !important;
  }
}



@media only screen and (max-width: 1240px) {
  .registration_admin_btn {
    height: unset;
    padding: 10px;
  }

  .registration_admin_btn span {
    font-size: 13px;
  }
}

@media only screen and (max-width: 930px) {
  .show__notShow {
    width: 300px;
    overflow-y: auto;
  }

  #form__admin_ADMIN {
    width: 250px;
    margin-left: 25px;
  }

  #form__admin_Edit {
    width: 250px;
    margin-left: 25px;
  }

  .admin__input {
    width: 220px;
  }

  #confirm__delete_Admin {
    left: 70px;
  }

  #delete__admin {
    width: 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 20px;
    border-radius: 6px;
    padding-bottom: 10px;
  }

  .confirm__delete {
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    top: 210px;
    left: 65px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 375px) {
  .admin__acount {
    font-size: 22px;
    color: black;
    font-weight: bolder;
  }

  .show__notShow {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 320px) {
  .admin__acount {
    font-size: 16px;
  }

  .toatl_adminss {
    margin-top: 0px;
  }
}
