#option__value_charging_rate {
  /* padding: 7px;
  width: 250px;
  height: 40px;
  margin-top: -7px;
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  border-radius: 6px; */


  margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    background: #fff;
    width: 470px;
    height: 48px;
    padding-left: 14px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
    color: #6c757d;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
    background-repeat: no-repeat;
}
.modal_form label{
  display: block;
}

.modal_form input{
  height: 48px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  width: 100%;
  color: #6c757d;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 16px;
  box-shadow: none;
  outline: none;
  margin-bottom: 24px;
}

#option__value_charging_rate:focus {
  background-image: url('https://w7.pngwing.com/pngs/711/104/png-transparent-computer-icons-arrow-down-arrow-up-right-left-up-up-arrow-angle-triangle-black-thumbnail.png');
  background-size: 1rem auto;
  background-position: right 0.6rem top 50%;
}

.finance_wrapper select:focus {
  padding: 7px !important;
  outline-offset: 0px;
  outline: none;
}

.kwh_rate {
  padding-right: 10px;
}

.kwh_rate_input {
  width: 20%;
  border: 1px solid #565454;
  border-radius: 6px;
  padding: 7px;
  margin-top: -10px;
}

.charge_btn_wrp {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}

.container-lg {
  padding: 0 24px !important;
}


td{
  width: unset;
}

.finance_bold_text {
  font-weight: bolder;
  font-size: 24px;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
}

.finance_bold_text_one {
  margin-top: -10px;
}

.main_div_finance_partners {
  background-color: #fff;
}

.filter_Finance_users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  flex-wrap: wrap;
}

.create_rate_btn {
  background-color: #1890ff;
  color: #fff;
  border-radius: 6px;
  padding: 0px 15px;
  border: none;
  font-weight: bold;
  margin-top: -10px;
  height: 40px;
  align-items: center;
  display: flex;
}

/* .right_arrow {
    width: 25px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
  } */
.finance_wrapper {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.for_finance_select {
  padding-bottom: 10px;
  /* margin-top: -10px; */
}

#option__value_two_finanace {
  padding: 7px;
  width: 250px;
  height: 40px !important;
  margin-top: -7px;
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  border-radius: 6px;



}

.finance_partner_select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  padding: 30px 24px;

}

.table_wraper {
  overflow-x: auto;
  margin: 24px 0;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  padding: 24px;
}

.table {
  margin-bottom: 48px;
}

#charging_rates_btn {

  height: 48px;
  padding: 0px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #3378ff;
  border: none;
  outline: none;
  box-shadow: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

#charging_rates_btn span {
  display: inline-block;
}


.ant-drawer-title {
  flex: 1 1;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 22px;
  text-align: center;

}

.ant-drawer-header {
  display: flex;
  flex: 0 1;
  align-items: center;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #f0f0f0;
  background-color: #ebebeb;
}

.ant-drawer-body {
  flex: 1 1;
  min-width: 0;
  min-height: 0;
  padding: 24px;
  overflow: auto;
  background-color: #ebebeb;
}

.drawer .modal_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: white;
  border: none;
  border-radius: 6px;
  left: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  max-height: 85vh;
}

.drawer .form {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  margin-top: 20px;
}

.drawer .form select {
  width: 238px;
  padding: 5px;
  border-radius: 6px;
  margin: 3px 0px 10px 0px;
  outline: none;
  border: none;
  background-color: #e8e9ee;
  height: 33px;
}

select:focus {
  padding: 5px !important;
  outline-offset: 0px;
  outline: none;
}

button.ant-drawer-close {
  display: none;
}

.th_Name {
  font-weight: bold;
}

.actionBtn {

  border: none;
  background: white;
}

tr:hover .actionBtn {
  background: #ececee;

}

/* paination css start  */
/* .ant-pagination-item {
  border-radius: 9px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 9px;
}
.ant-pagination-options-quick-jumper input{
  border-radius: 9px;
} */
/* paination css end  */
