h1 {
  color: red;
}
.price_management{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}
.pr_text{
  margin: 0;
    padding: 0;
    color: #213446;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}
.splash_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
.customer_add_button {
    background-color: #3378ff !important;
    color: #ffffff;
    height: 48px;
    max-width: 190px;
    width: 100%;
    border-radius: 6px;
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .customer_add_button:hover{
    background-color:#2062E3 !important;
  }
  
  .plusicon {
    font-size: 20px;
  }
  
  .customer_add_button span {
    color: #ffffff;
    display: inline-block;
  }
  .splash_middle_div {
    padding: 24px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);

  }
   #select_option__value {
    margin: 0;
    width: 495px !important;
    /* width: 200px; */
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
  
    color: #6c757d;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.main_kwh_mieq_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 1rem;
  flex-wrap: wrap;
  
}
.kwh_row {
  padding: 24px;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  width: 305px;
  border-radius: 6px;
  border: 1px solid #fff, #f1f1f1;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
 
  
}
.kwh_row_one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.kwh_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kwh_value {
  color:  #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;

}

.kwh_key {
  color:  #324253;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}


.installation_base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.card_line{
  color: #F1F1F1;
}

.price_main_div {
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  /* opacity: 0.8; */
  background-color: #f1f1f1;
  background:  #F1F1F1;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  padding: 16px;
  margin: 16px 0;
}

.total_wrap{
margin-top: 16px;
margin-bottom: 0 !important;
}

.price_with_dollar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

}

.hr_padding{
  opacity: 0.5;
  background:  #8F9FBC;
  height: 1px;
}


.dollar_part{

  color:  #213446;
  text-align: right;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:0;
  padding: 0;
}

.dollar_total{
    font-size: 16px !important;
}
.kwh_Total{
    
  color:  #324253;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
   margin: 0;
   padding: 0;
}


.edit_delete_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}
.edit_p{
    font-size: 16px;
    font-weight: 400;
    color: #8F9FBC;
  margin: 0;
  padding: 0;
}
.delete_p{
    font-size: 16px;
    font-weight: 400;
    color: #F42B3D;
     margin: 0;
     padding: 0;
}
.hr_opacity{
    margin: auto;
    opacity: 0.7 !important;
}
.container-lg {
  padding: 0 24px !important;
}


.header-sticky {
  box-shadow: 0px 4px 16px 0px #0000000a !important;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 9 !important;
  height: 64px!important;
}

.mb-4 {
  padding: 0 !important;
  margin: 0 !important;
}

.header {
  border-bottom: none !important;
}

.login_section_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.logoutdropdown-content {
  display: block;
  position: absolute;
  top: 43px;
  right: 24px;
  width: 160px;
  height: 53px;
  border-radius: 6px;
  border: 1px solid var(--border-border-secondary, #f1f1f1);
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  cursor: pointer;
}

.logoutdropdown-content h6 {
  margin: 0;
  padding: 0;
  color: #213446;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.show__notShow {
  position: absolute;
  top: 10%;
  left: 33%;
  width: 400px;
  padding: 24px;
  background: #ebebeb;
  z-index: 10000;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.16);
}
.create_Location__packag {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  
}
#form__admin_admin {
  margin-top: 24px;
}
.locate__input {
  padding: 5px 15px;
  margin: 3px 0px 10px 0px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #fff;
  margin-top: 0;
  margin-bottom: 24px;
}
.create_new__location {
  height: 48px;
  background: #3378ff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  padding: 2px 9px;
  width: 46%;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.create_new__location:hover {
  background-color: #2062e3;
}
.cancel__create__location {
  width: 46%;
  height: 48px;
  background: #8f9fbc;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1000;
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.cancel__create__location:hover {
  background-color: #6d84ad;
}