.para_splash {
  font-weight: bolder;
  font-size: 30px;
  color: black;
 margin: 0;
}
.splash_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* .dateparent{
  display: flex;
  gap: 20px;
} */

.table tr, th{
  text-align: left !important;
}
.modaltextarea{
  padding: 15px !important;
background-color: white !important;
}
.datepickerwrap{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.datepickerwrap .ant-picker-input > input {
 width: 250px;
}
.splash_middle_div {
  background-color: #fff;
  padding: 30px 20px;
  /* margin-top: 30px; */
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#option__splash_scrren {
  padding: 7px;
  width: 250px;
  /* margin-top: -7px; */
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
  border-radius: 6px;
}
#option__splash_scrren:focus {
  background-image: url('https://w7.pngwing.com/pngs/711/104/png-transparent-computer-icons-arrow-down-arrow-up-right-left-up-up-arrow-angle-triangle-black-thumbnail.png');
  background-size: 1rem auto;
  background-position: right 0.6rem top 50%;
}

/* Increase the height of the TimePicker */
.ant-picker-time-panel {
  height: 180px; /* Adjust the height value as needed */
  border-radius: 6px;
}
.ant-picker-time-panel {
  top: auto !important;
  bottom: 0 !important;
}
.time-picker-container .ant-picker-input {
 border-radius: 6px; /* Adjust the value as per your desired border radius */
}

.time-picker-container .ant-picker-time-panel {
 border-radius: 6px; /* Adjust the value as per your desired border radius */
}
.add_new_splash {
  background: #1890ff;
  color: #fff;
  border-radius: 6px;
  padding: 8px 15px;
  border: none;
  font-weight: bold;
  /* box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75)!important; */
}
.close_btn_splash {
  border: none;
  border-radius: 50%;
  background-color: #1890ff;

  /* margin-bottom: 10px; */
}
.my-select-container .ant-select .ant-select-selector{
  border-radius: 6px;
}

.ant-picker {
  height: 40px;
 border-radius: 6px;
}
.update__table_one {
  border: none;
  background-color: #fff;

}
/* paination css start  */
/* .ant-pagination-item {
 border-radius: 6px;
}
.ant-select-selector{
 border-radius: 6px;
}
.ant-pagination-options-quick-jumper input{
 border-radius: 6px;
} */
/* paination css end  */
td[contenteditable]{

  max-width: 5px;
  /* overflow: auto; */
  transition : all 300ms ease;

}
.delte__table_one {
  border: none;
  background-color: #fff;

}
.actionbtn{
  border: none;
  background: white;
  }
  tr:hover .actionbtn{
      background: #ececee !important;
  }

  tr:hover tr{
      background: white !important;
  }
.splash__information {
  padding: 30px 0px;
}
