.actionbtn {
  border: none;
  background: white;
}
tr:hover .actionbtn {
  background: #ececee !important;
}
.emporia_troes {
  color:  #324253;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.table_wrap{
    margin: 24px 0;
    padding: 24px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    overflow-x: auto;
    white-space:unset;
}
.table_wrap_second{

  margin: 24px 0;
  padding: 24px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}
.filter_button {
  width: 103px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  display: flex;
  gap: 16px;
  align-items: center;
}
.filter_button:hover{
  background-color: #e5e5e5;
}

.forAlignment_Account{
  display: flex;
  align-items: center;
  gap: 8px;
}
.ant-picker {
border-radius: 6px;
}
/* .my-select-container .ant-select .ant-select-selector{
	border-radius: 9px;
  } */
.NotificationTable .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
border-radius: 6px;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #f5f5f5;
}

/* paination css start  */
/* .ant-pagination-item {
border-radius: 6px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
border-radius: 6px;
}
.ant-pagination-options-quick-jumper input {
border-radius: 6px;
} */
/* paination css end  */

tr:hover tr {
  background: white !important;
}
.filterModal {
  top: 135px !important;
  left: 220px !important;
}

.serachicon {
  position: relative;
}
/* .px-2{
	text-align: left !important;
} */

.fiseachicon {
  position: absolute;
  top: 20%;
  font-size: 22px;
  /* left: 32%; */
  color: grey;
  right: 12%;
}

.tnotification_wrap{
  display: flex;
 align-items: center;
 gap: 24px;
 margin: 24px 0;
}
.filter_wrap{
  padding: 24px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);

}

.container-lg {
  padding: 0 24px !important;
}

.emporia_wrap{
display: flex;
align-items: center;
justify-content: space-between;
margin: 24px 0;

}


.totalnotification{
cursor: pointer;
margin: 0;
padding: 0;
}

.all_customer_of_page {
    margin: 0;
    padding: 0;
    color: #213446;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}
.trSelect .ant-select-selector {
  border: none !important;
}
/* .trSelect:hover .ant-select-selector{
    background: #ececee !important;
} */
.trSelect .ant-picker {
  border: unset;
}
/* .trSelect:hover .ant-picker{
    background: #ececee !important;
} */
tr:hover .inputRender {
  background: #ececee !important;
}

/* trash starts */

.trash {
  background: #ff6873;
  width: 25px;
  height: 20px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  top: 5px;
}
.trash:after {
  position: absolute;
  left: -99px;
  right: 0;
  bottom: -50px;
  width: 300px;
}
.trash span {
  position: absolute;
  height: 5px;
  background: #ff6873;
  top: -7px;
  left: -2px;
  right: -10px;
  width: 29px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
}
.trash span:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 3px;
  background: #ff6873;
  top: -5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 8px;
}

.trash i {
  position: relative;
  width: 3px;
  height: 10px;
  background: #fff;
  display: block;
  margin: 4px auto;
border-radius: 6px;
}
.trash i:after {
  content: '';
  width: 3px;
  height: 10px;
  background: #fff;
  position: absolute;
  left: -8px;
border-radius: 6px;
}
.trash i:before {
  content: '';
  width: 3px;
  height: 10px;
  background: #fff;
  position: absolute;
  right: -8px;
border-radius: 6px;
}

.trash:hover span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}
.test:hover .span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}

.removeIcon .ant-picker-input > input {
  width: unset !important;
  min-width: unset !important;
}
.trashp {
  position: absolute;
  top: 3px;
  left: 30px;
  border-bottom: 1px solid aqua;
  width: 107px;
}

/* trash ends */
.recycleBin {
  position: absolute;
  top: 99px;
  left: 18px;
}
.item {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50px;
  left: 50px;
}

.filterwrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add_filter_1 {
  display: inline-block;
}
.removeIcon .anticon svg {
  display: none;
}
.NotificationTable .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  padding: 0px 0px !important;
}
.NotificationTable .ant-picker {
  padding: 4px 0px 4px !important;
}
th {
  text-align: left;
}
tr {
  text-align: left;
}
tr input {
  text-align: left;
}
